.pager {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-left: 0;

  .pagination {
    padding-inline-start: 0;
    text-align: center;

    li {
      position: relative;
      display: inline;
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 0;
      margin: 0 2px;
      text-align: center;
      border-radius: 50px;

      a {
        position: absolute;
        top: 0;
        left: 0;
        display:table;
        width: 100%;
        height: 100%;
        color: rgb(0 0 0);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        transition: all 0.3s ease;
        transition: all  0.3s ease;

        span{
          display:table-cell;
          vertical-align:middle;
        }

        &:hover,
        &.active{
          color: rgb(255 255 255);
          background: #ccf;
          border-radius: 10px;
          border-radius: 50px;
          transform-origin: 50% 50%;
          animation: anim-scale 0.4s ease-out;
        }
      }

      &.pre,
      &.next {
        color: #fff;
        background: #9D50BB;

        a {
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px){
  .pager .pagination li {
    display: none;

    &.pre,
    &.next {
      display: inline-block;
      width: 100px;
      height: 50px;
      text-align: center;

      a {
        width: 100%;
        text-align: center;
      }
    }

    &.pre span::after {
      content: "前へ";
    }

    &.next span::before {
      content: "次へ";
    }
  }
}

@keyframes anim-scale {
  0% { transform: scale(0.8, 0.8); }
  40% { transform: scale(1.2, 1.2); }
  60% { transform: scale(1, 1); }
  80% { transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1); }
}
